@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f2f4f8;
    color: #333;
}

.hero {
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.hero p {
    margin-top: 10px;
    font-weight: 300;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
}

.card h2 {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    color: #666;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0f0f0f;
    padding: 15px 0;
    z-index: 1000;
}

.nav-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #ddd;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #fff;
}

body {
    padding-top: 70px;
}

html {
    scroll-behavior: smooth;
}

/*TECNOLOGIAS*/

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 15px;
}

.tech {
    background: #1e1e1e;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.3s;
}

.tech:hover {
    background: #444;
    transform: scale(1.05);
}

/*PROJETOS*/

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 1);
}

/* CONTATO */

.contact-links {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.contact-links a {
    text-decoration: none;
    background: #1e1e1e;
    color: white;
    padding: 10px 16px;
    transition: 0.3s;
}

.contact-links a:hover {
    background: #444;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: 14px;
}