<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="nav-container">
            <span class="logo"></span>

            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </div>
    </nav>

    <header id="home" class="hero">
        <h1>Leonardo Pires</h1>
        <p>Desenvolvedor em formação</p>
    </header>

    <section class="card">
        <!-- <h2>Tecnologias</h2> -->

        <div class="tech-list">

            <div class="tech">
                <img src="{{ url_for('static', filename='images/python.svg') }}" alt="Python">
                <span>Python</span>
            </div>
            <div class="tech tech-white">
                <img src="{{ url_for('static', filename='images/Flask.svg') }}" alt="Flask">
                <span>Flask</span>
            </div>

            <div class="tech">
                <img src="{{ url_for('static', filename='images/HTML5.svg') }}" alt="HTML">
                <span>HTML</span>
            </div>

            <div class="tech">
                <img src="{{ url_for('static', filename='images/CSS3.svg') }}" alt="CSS">
                <span>CSS</span>
            </div>

            <div class="tech">
                <img src="{{ url_for('static', filename='images/Git.svg') }}" alt="Git">
                <span>Git</span>
            </div>

            <div class="tech tech-white">
                <img src="{{ url_for('static', filename='images/GitHub.svg') }}" alt="GitHub">
                <span>GitHub</span>
            </div>
        </div>

    </section>

    <main class="container">

        <section id="sobre" class="card">
            <h2 class="section-title">Sobre mim</h2>
            <p>
                Sou estudante de programação, focado em Python e desenvolvimento web.
                Este portfólio está sendo construído passo a passo como parte do meu aprendizado.
            </p>
        </section>

        <section id="projetos" class="projects card">
            <h2 class="section-title">Projetos</h2>

            <div class="projects-grid">

                {% for projeto in projetos %}
                <div class="project-card">
                    <h3>{{ projeto.titulo }}</h3>
                    <p>{{ projeto.descricao }}</p>
                    <a href="{{ projeto.link }}" target="_blank">Ver projeto</a>
                </div>
                {% endfor %}

            </div>
        </section>

        <section id="contato" class="card">
            <h2 class="section-title">Contato</h2>

            <p>Vamos conversar? Me encontre nos links abaixo 👇</p>

            <div class="contact-links">
                <a href="https://github.com/Leonardops" target="_blank">GitHub</a>
                <a href="https://linkedin.com/in/leonardopsvictor" target="_blank">LinkedIn</a>
                <a href="https://mail.google.com/mail/?view=cm&to=leonardovps25@gmail.com&su=Contato pelo Portfólio"
                    target="_blank">Email</a>
            </div>

        </section>

    </main>

    <footer>
        <p>© 2026 - Leonardo Pires</p>
    </footer>

</body>

</html>